.card{
    padding: 30px 0;
}
.vkuiCard__in{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card .vkuiIcon{
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
}
.icon svg{
    width:60% !important;
    height: 60% !important;
}